*{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font-size: 10pt;
}

body{
    background: #BFBFFF url('../images/background.png') repeat-x;
}

h1{
    font-size: 16pt;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #330066;
}

input[type="text"]{
    width: 300px;
}

input[type="password"]{
    width: 300px;
}

input[type="submit"]{
    padding: 6px;
}

fieldset{
    padding: 20px;
    font: 80%/1 sans-serif;
    border: solid 1px #330066;
}

a{
    text-decoration: none;
    color: #330066;
}

a:hover{
    text-decoration: underline;
}

label{
    width:150px;
    float: left;
    text-align: right;
    color: #330066;
} 

textarea{
    margin-left: 150px;
    width: 300px;
    height: 150px;
}

select{
    width: 300px;
}

#form{
    width: 500px;
    left: 50%;
    margin-left: -250px;
    position: absolute;
}
