<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>input.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAll</servlet-name>
        <servlet-class>output.DisplayAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvancedSearchServlet</servlet-name>
        <servlet-class>output.AdvancedSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowArticleDetail</servlet-name>
        <servlet-class>output.ShowArticleDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfidenceServlet</servlet-name>
        <servlet-class>input.ConfidenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvidenceItemServlet</servlet-name>
        <servlet-class>input.EvidenceItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>input.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayoutServlet</servlet-name>
        <servlet-class>classes.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>output.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBasic</servlet-name>
        <servlet-class>input.EditBasic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CredibilityRating</servlet-name>
        <servlet-class>input.CredibilityRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModerationServlet</servlet-name>
        <servlet-class>input.ModerationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MethodologyServlet</servlet-name>
        <servlet-class>input.MethodologyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeServlet</servlet-name>
        <servlet-class>input.PracticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>output.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResearchServlet</servlet-name>
        <servlet-class>input.ResearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobList</servlet-name>
        <servlet-class>output.JobList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberList</servlet-name>
        <servlet-class>output.MemberList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMember</servlet-name>
        <servlet-class>input.EditMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>output.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffAccount</servlet-name>
        <servlet-class>input.CreateStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMember</servlet-name>
        <servlet-class>input.AddMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAll</servlet-name>
        <url-pattern>/DisplayAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvancedSearchServlet</servlet-name>
        <url-pattern>/AdvancedSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowArticleDetail</servlet-name>
        <url-pattern>/ShowArticleDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfidenceServlet</servlet-name>
        <url-pattern>/ConfidenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvidenceItemServlet</servlet-name>
        <url-pattern>/EvidenceItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayoutServlet</servlet-name>
        <url-pattern>/LayoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBasic</servlet-name>
        <url-pattern>/EditBasic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CredibilityRating</servlet-name>
        <url-pattern>/CredibilityRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModerationServlet</servlet-name>
        <url-pattern>/ModerationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MethodologyServlet</servlet-name>
        <url-pattern>/MethodologyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeServlet</servlet-name>
        <url-pattern>/PracticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResearchServlet</servlet-name>
        <url-pattern>/ResearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobList</servlet-name>
        <url-pattern>/JobList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberList</servlet-name>
        <url-pattern>/MemberList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMember</servlet-name>
        <url-pattern>/EditMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffAccount</servlet-name>
        <url-pattern>/CreateStaffAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMember</servlet-name>
        <url-pattern>/AddMember</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
    </welcome-file-list>
</web-app>
